<link href="../static/Login_v19/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="../static/Login_v19/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="../static/Login_v19/vendor/jqueryjquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

<center>
    <!-- Login Form -->
    <form action="/ChangePassword/" method="post">
        {% csrf_token %}
        <div >
          <label for='username'> Mail </label>
          {{ form.mail }}
        </div>
        <div>
          <label for='NewPassword'> NewPassword </label>
          {{ form.NewPassword }}
        </div>
        <div>
          <label for='ConfirmedPasswordpassword'> ConfirmedPassword </label>
          {{ form.ConfirmedPassword }}
        </div>
        <div>
          <input type='submit' value='Submit'>
        </div>
    </form>

</center>

  </div>
</div>
